# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyTorch dataset downloads
data/
*.tar.gz
*.gz

# Checkpoints & Model weights
*.pt

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environment, projects, and temporary files
*.log
.vscode/
.idea/
scratch/
anaconda_projects/
test.pdf
test.png
test_plot.png
